<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmier Challenges</title>
</head>
<body>
<h1>Welcome</h1>
<table>
    <tbody>
    <tr th:each="challenge: ${challengeList}">
        <td>
            <button type="button" th:id="'challengeId.' + ${challenge.getId()}" th:onclick="'startChallenge('+ ${challenge.getId()} + ')'"
                    th:text="'Challenge ' + ${challenge.getId()}"></button>
        </td>
        <td>
            <div th:id="'status.' + ${challenge.getId()}" style="background-color: red ; width: 20px; padding: 10px; border: 1px solid black;"></div>
        </td>
    </tr>

    </tbody>
</table>

<script>
    function startChallenge(id) {
        var challengeId = JSON.stringify({"challenge":id})
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                console.log(this.response);
            }
        }
        xhr.open("POST", "index", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.responseType= 'json';
        xhr.send(challengeId);
        
        xhr.onload = function () {

        if(xhr.response.result=true){
            boxId = "status." + xhr.response.challenge;
            document.getElementById(boxId).style.backgroundColor="green";
            }
        }

    }

</script>

</body>

</html>